<div ng-show="!taskForEdit" id="listFullView" 
    style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
    <div id="list-header">
        <div id="category">
            <h2 id="name" style="padding-left: 10px;">
                {{ $ctrl.selectedCategory ? $ctrl.selectedCategory.Name : "ALL" }}
            </h2>
        </div>
    </div>
    <task-list caption="PRIORITY" tasks="priorityTasks" on-add-task="onAddTaskClicked(true)"
            on-edit-task-clicked="onEditTaskClicked(task)">
    </task-list>
    <task-list caption="NORMAL" tasks="normalTasks" on-add-task="onAddTaskClicked(false)"
            on-edit-task-clicked="onEditTaskClicked(task)">
    </task-list>
</div>
<task-edit ng-show="taskForEdit" task="taskForEdit" editing-new-task="editingNewTask"
    on-task-edited="onTaskEdited()">
</task-edit>